/* Main CSS file for iFixit Project */

body {
	background-color: #eee;
	margin:0;
	padding:0;
}

/* TODO: Add a bottom box shadow to the header */
header {
	height: 75px;
	width:100%;
	padding-top: 12px;
	text-align: center;
	border-bottom: 1px solid grey;
}

header > h1 {
	margin-top: 0;
}

.content_window {
	background-color: white;
}

#content {
	min-height: 400px;
	margin-top: 30px;
	padding:20px;
	padding-top: 10px;
	background-color:white;
	border: 1px solid #DADADA;

}

.device {
	width: 100px;
	display: inline-block;
	height: 100px; 
	padding: 0.5em; 
	margin: 10px 10px 10px 0;
	border: 1px solid black;
	border-radius: 10px;
	background: #c0c0c0;
}

.device:hover {
	box-shadow: 1px 1px 3px blue;
}

#drop_device {
	width:380px;
	min-height:300px;
	border-radius: 10px;
	vertical-align: middle;
	background-color:#e0e0e0;
	border: 1px solid #DADADA;
	overflow: hidden;
}

#drop_inner {
	position:absolute;
	top:50%;
	margin-left: 90px;
	text-align:center;
}