/* Main CSS file for iFixit Project */

body {
	background-color: #eee;
	margin:0;
	padding:0;
}

/* TODO: Add a bottom box shadow to the header */
header {
	height: 75px;
	width:100%;
	padding-top: 12px;
	text-align: center;
	/*border-bottom: 1px solid grey;*/
   box-shadow: 1px 0px 3px black;
}

header > h1 {
	margin-top: 0;
}

.content_window {
	background-color: white;
}

#content {
	min-height: 450px;
	margin-top: 30px;
	padding:20px;
	padding-top: 10px;
	background-color:white;
	border: 1px solid #DADADA;

}

#devices {
   min-height: 450px;
}

.device_block {
	width: 140px;
	display: inline-block;
	height: 140px; 
	padding: 0.5em; 
	margin: 5px 10px 5px 0;
	box-shadow: 1px 1px 1px gray;
	border-radius: 10px;
	background: #c0c0c0;
   text-align: center;
}

.device_block:hover {
	box-shadow: 1px 1px 3px black;
}

/* Fixes when the device_block is shifted down when the paragraph
 * one line on text instead of two.
 */
.device_block > p {
   width: 128px;
   height: 40px;
}

.device_block > img {
   width: 96px;
   height: 72px;
   border-radius: 5px;
}

#drop_device {
	min-height:300px;
   padding: 10px 20px;
	border-radius: 10px;
	vertical-align: middle;
	background-color:#e0e0e0;
	border: 1px solid #DADADA;
	overflow: hidden;
}

#drop_inner {
	position:absolute;
	top:50%;
	margin-left: 140px;
	text-align:center;
}

